<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат с ИИ</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="session-id" id="session-id">Сессия: —</div>
        <div class="chat-box" id="chat-box">
            <div class="message bot-message">Чем я могу помочь?</div>
        </div>
        <div class="input-container">
            <textarea class = "input-box" type="text" id="user-input" placeholder="Задайте вопрос _CamelcaseGPT"></textarea>
            <button id="send-btn" onclick = "sendMessage()">➤</button>
        </div>
    </div>
    <script src="{{ url_for('static', path='script.js') }}"> </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>