* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.chat-container {
    width: 70vw;
    height: 100vh;
    max-width: 100%;
    background-color: #333;
    border-radius: 10px;
    overflow-y: auto;
}

.chat-box {
    padding: 15px;
    min-height: 80vh;
    height: auto;
    /* max-height: 70%; */
    overflow-y: auto;
    background-color: #1a1a1a;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 1.5;
    word-wrap: break-word; /* Перенос длинного текста */
    white-space: pre-wrap; /* Сохраняет форматирование текста и переносы */
}

.bot-message {
    text-align: left;
    background-color: #333;
    color: #f1f1f1;
}

.user-message{
    text-align: right;
    color: #0056b3;
}

.input-container {
    justify-content: flex-end;
    display: flex;
    height: auto;
    min-height: 40px;
}

.input-box{
    text-align: right;
    border: none;
    font-size: 16px;
    overflow-y: auto;
    /* min-height: 40px; */
    /* Минимальная высота */
    max-height: 13vh;
    /* Максимальная высота */
    flex: 1;
    background-color: #222;
    color: white;
    resize: none;
    /* Запрещаем пользователю изменять размер вручную */
    width: 70vh;
    outline-style: none;
}

button {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.session-id {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
}

.typing-indicator {
    font-style: italic;
    color: #555;
}
